
<html>
  <head>

  </head>
  <body>
    <form method="POST" action="/">
      <span>Enter Text to cipher:</span>
      <input type="text" name="input"/>
      <input type="submit" value="Submit"/>
      <br />
    </form>

    <p><%= @output %></p>

  </body>
</html>
